<!-- https://logback.qos.ch/manual/configuration.html -->
<!-- https://www.baeldung.com/logback -->
<configuration scan="true" scanPeriod="30 seconds" >
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DEBUG_LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>call-id</key>
            <defaultValue>app</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${call-id}" class="ch.qos.logback.core.FileAppender">
                <file>./runtime/debug/${call-id}.debug.log</file>
                <filter class="com.example.plugins.debug.CallLoggingFilter">
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <append>true</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <appender name="DEBUG_LOG_REQUEST" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>call-id</key>
            <defaultValue>app</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${call-id}" class="ch.qos.logback.core.FileAppender">
                <file>./runtime/debug/${call-id}.request.log</file>
                <filter class="com.example.plugins.debug.CallLoggingFilter">
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{YYYY-MM-dd HH:mm:ss} %X{from} %X{call-id} %X{device} %X{device_id} %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DEBUG_LOG" />
        <appender-ref ref="DEBUG_LOG_REQUEST" />
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
